@{ 
    ViewBag.Title = "About page";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div id="needMargin"> 
            <h2 class="text-primary">About me</h2>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <div id="needMargin">
            <h6 class="text-info">
                My name is M.Fakhreddin,I am student of amirkabir university of technology This is my the world site that I don't what exactly it is going to do
            </h6>
        </div>
</div>
</div>
